/* Basics */

.mapbox_locations {
  opacity: 0;
}

.mapbox_popup {
  display: none;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
    display: none !important;
}

.mapbox_geocoder {
  overflow: visible!important;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
  font-size: 16px!important;
  line-height: 1;
  font-family: inherit;
  font-weight: 600;
  position: relative;
  background-color: rgba(10, 10, 10, 0.5);
  width: 100%;
  min-width: 240px;
  z-index: 1;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  font-size: 1rem;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 2.5rem;
  color: #ffffff; /* fallback */
  padding: 0rem 2.5rem .325rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #ffffff;
  outline: 0;
  box-shadow: none;
  /* outline: thin dotted; */
  outline: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 50px;
  min-width: 50px;
  transition: width .25s, min-width .25s;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background: rgba(10, 10, 10, 0.75);
  backdrop-filter: blur(1rem);
  border-radius: 0.75rem;
  line-height: 1.25;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%;
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 14px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #ffffffd1;
  transition: background-color 100ms ease, color 100ms ease;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: rgb(10, 10, 10);
  background-color: rgb(255, 128, 0);
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #ffffff;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.51159 10.6096C3.68779 9.58642 3.18547 8.30247 3.18547 6.89815C3.18547 3.64815 5.83771 1 9.09274 1C12.3478 1 15 3.64815 15 6.89815C15 10.1481 12.3478 12.7963 9.09274 12.7963C7.68624 12.7963 6.38022 12.2948 5.37558 11.4722L2.8439 14L2 13.1574L4.51159 10.6096ZM13.7743 6.89815C13.7743 4.31018 11.6646 2.2037 9.07264 2.2037C6.48068 2.2037 4.37094 4.31018 4.37094 6.89815C4.37094 9.48611 6.48068 11.5725 9.07264 11.5725C11.6646 11.5725 13.7743 9.48611 13.7743 6.89815Z" fill="white"/></svg>')
}

.mapboxgl-ctrl-geocoder--icon-search path {
  display: none;
}

.mapboxgl-ctrl-geocoder--button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  line-height: 1;
  transition: fill ease 200ms;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-right: 4px;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  transition: fill 100ms ease;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-geolocate {
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-right: 4px;
}

.mapboxgl-ctrl-geocoder--icon-geolocate path {
  fill: rgb(255, 128, 0);
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 22px;
  height: 22px;
  margin-top: 2px;
  margin-right: 4px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.mapboxgl-ctrl-geocoder--powered-by {
  display: none!important;
}

/* .mapboxgl-ctrl-geocoder--powered-by a {
  color: #909090;
}

.mapboxgl-ctrl-geocoder--powered-by a:not(:hover) {
  text-decoration: none;
} */

/* Animation */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
